<section class="vitae-section">
  <h1>Awards &amp; Certifications</h1>
    <article>
        <header>
            <h1>Russell M. Grossman Fellowship</h1>
            <p><a href="http://www.berkeley.edu/">University of California, Berkeley</a></p>
            <span><time>Jan 2016</time><address>Berkeley, CA</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Hubbard Family Scholarship</h1>
            <p><a href="http://www.berkeley.edu/">University of California, Berkeley</a></p>
            <span><time>Jul 2015</time><address>Berkeley, CA</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="http://gsi.berkeley.edu/awards/ogsi1213.html">Outstanding Graduate Student Instructor Award</a></h1>
            <p><a href="http://www.berkeley.edu/">University of California, Berkeley</a></p>
            <span><time>May 2013</time><address>Berkeley, CA</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="http://files.saraemoore.com/pdfs/sas_certification.pdf">SAS Certified Base Programmer for SAS 9</a></h1>
            <span><time>Dec 2008</time></span>
        </header>
    </article>
</section>
<hr />