<section class="vitae-section">
  <h1>Awards &amp; Certifications</h1>
    <article>
        <header>
            <h1>W. M. Keck Foundation Fellowship</h1>
            <p><a href="http://www.kgi.edu/">Keck Graduate Institute</a></p>
            <span><time>Aug 2002</time><address>Claremont, CA</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Research Assistantship</h1>
            <p><a href="http://www.cgu.edu/">Claremont Graduate University</a></p>
            <span><time>Aug 2004</time><address>Claremont, CA</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="http://www.bpsweb.org/bps-specialties/pharmacotherapy/">Board Certified Pharmacotherapy Specialist</a></h1>
            <span><time>Dec 2013</time></span>
        </header>
    </article>
</section>
<hr />
