<ol class="bibliography">

<li><span id="teenmoney_scan">J. B. Engelmann, <em>S. Moore</em>, C. M. Capra, and G. S. Berns, "Differential neurobiological effects of expert advice on risky choice in adolescents and adults," <i>Social Cognitive and Affective Neuroscience</i>, vol. 7, no. 5, pp. 557–567, May 2012.</span> <a href="http://dx.doi.org/10.1093/scan/nss050">[doi:10.1093/scan/nss050]</a>

<!-- Engelmann JB, **Moore S**, Capra CM, Berns GS. Differential neurobiological effects of expert advice on risky choice in adolescents and adults. *SCAN*. 2012;7(5):557--567. [doi:10.1093/scan/nss050](http://dx.doi.org/10.1093/scan/nss050) -->

</li>

<li><span id="teenmusic_jcp">G. S. Berns and <em>S. E. Moore</em>, "A neural predictor of cultural popularity," <i>Journal of Consumer Psychology</i>, vol. 22, no. 1, pp. 154–160, Jan. 2012.</span> <a href="http://dx.doi.org/10.1016/j.jcps.2011.05.001">[doi:10.1016/j.jcps.2011.05.001]</a>

<!--
Berns GS, **Moore SE**. A neural predictor of cultural popularity. *Journal of Consumer Psychology*. 2012;22(1):154--160. [doi:10.1016/j.jcps.2011.05.001](http://dx.doi.org/10.1016/j.jcps.2011.05.001)
-->

</li>

<li><span id="teenmusic_neuroimage">G. S. Berns, C. M. Capra, <em>S. Moore</em>, and C. Noussair, "Neural mechanisms of the influence of popularity on adolescent ratings of music," <i>NeuroImage</i>, vol. 49, no. 3, pp. 2687–2696, Feb. 2010.</span> <a href="http://dx.doi.org/10.1016/j.neuroimage.2009.10.070">[doi:10.1016/j.neuroimage.2009.10.070]</a>

<!-- Berns GS, Capra CM, **Moore S**, Noussair C. Neural mechanisms of the influence of popularity on adolescent ratings of music. *NeuroImage*. 2010;49(3):2687--2696. [doi:10.1016/j.neuroimage.2009.10.070](http://dx.doi.org/10.1016/j.neuroimage.2009.10.070) -->

</li>

<li><span id="teendti_plosone">G. S. Berns, <em>S. Moore</em>, and C. M. Capra, "Adolescent Engagement in Dangerous Behaviors Is Associated with Increased White Matter Maturity of Frontal Cortex," <i>PLoS ONE</i>, vol. 4, no. 8, p. e6773, Aug. 2009.</span> <a href="http://dx.doi.org/10.1371/journal.pone.0006773">[doi:10.1371/journal.pone.0006773]</a>

<!-- Berns GS, **Moore S**, Capra CM. Adolescent engagement in dangerous behaviors is associated with increased white matter maturity of frontal cortex. *PLoS ONE*. 2009;4(8):e6773. [doi:10.1371/journal.pone.0006773](http://dx.doi.org/10.1371/journal.pone.0006773) 
-->

</li></ol>