<ol class="bibliography"><li><span id="teendrinking">K. J. Mu, <em>S. E. Moore</em>, and K. Z. LeWinn, "Internet use and adolescent binge drinking: Findings from the Monitoring the Future study," <i>Addictive Behaviors Reports</i>, vol. 2, pp. 61–66, Dec. 2015.</span> <a href="http://dx.doi.org/10.1016/j.abrep.2015.09.001">[doi:10.1016/j.abrep.2015.09.001]</a>

<!--
* Mu KJ, **Moore SE**, LeWinn KZ. Internet use and adolescent binge drinking: Findings from the Monitoring the Future study. *Addictive Behaviors Reports*. 2015;2: 61--66. [doi:10.1016/j.abrep.2015.09.001](http://dx.doi.org/10.1016/j.abrep.2015.09.001)
-->

</li></ol>