<ol class="bibliography">
<li><span id="icsb2007"><em>S. R. Paladugu</em>, S. Zhao, A. Ray, A. Raval, "Predicting synthetic genetic interactions in yeast through machine-learning analysis of protein interaction data." Poster presented at the 6th International Conference on Systems Biology; October, 2007; Long Beach, California.</span> <a href="http://www.icsb07.caltech.edu/proceedings/abstracts/H17.pdf">[Abstract]</a>
</li>
<li><span id="icsb2005">F. Bergmann, H.M. Sauro, R.R. Vallabhajosyula, <em>S.R. Paladugu</em>, "Distributed Computing in Systems Biology using Systems Biology Workbench." Poster presented at the 6th International Conference on Systems Biology; October, 2005; Boston, Massachusetts, USA.</span> <a href="http://systems-biology.org/conference/announcement/2005-calendar/000041.html">[The 6th International Conference on Systems Biology (ICSB 2005)]</a>
</li></ol>
