<ol class="bibliography"><li><span id="shockprob_neuroimage">G. S. Berns, C. M. Capra, J. Chappelow, <em>S. Moore</em>, and C. Noussair, "Nonlinear neurobiological probability weighting functions for aversive outcomes," <i>NeuroImage</i>, vol. 39, no. 4, pp. 2047–2057, Feb. 2008.</span> <a href="http://dx.doi.org/10.1016/j.neuroimage.2007.10.028">[doi:10.1016/j.neuroimage.2007.10.028]</a>

<!--
Berns GS, Capra CM, Chappelow J, **Moore S**, Noussair C. Nonlinear neurobiological probability weighting functions for aversive outcomes. *NeuroImage*. 2008;39(4):2047--2057. [doi:10.1016/j.neuroimage.2007.10.028](http://dx.doi.org/10.1016/j.neuroimage.2007.10.028)
-->
</li>

<li><span id="regret_neuroimage">P. V. S. Chandrasekhar, C. M. Capra, <em>S. Moore</em>, C. Noussair, and G. S. Berns, "Neurobiological regret and rejoice functions for aversive outcomes," <i>NeuroImage</i>, vol. 39, no. 3, pp. 1472–1484, Feb. 2008.</span> <a href="http://dx.doi.org/10.1016/j.neuroimage.2007.10.027">[doi:10.1016/j.neuroimage.2007.10.027]</a>

<!--
Chandrasekhar PVS, Capra CM, **Moore S**, Noussair C, Berns GS. Neurobiological regret and rejoice functions for aversive outcome. *NeuroImage*. 2008;39(3):1472--1484. [doi:10.1016/j.neuroimage.2007.10.027](http://dx.doi.org/10.1016/j.neuroimage.2007.10.027)
-->
</li>

<li><span id="shockprob_behav_jdm">G. S. Berns, C. M. Capra, <em>S. Moore</em>, and C. Noussair, "A shocking experiment: New evidence on probability weighting and common ratio violations," <i>Judgment and Decision Making</i>, vol. 2, no. 4, pp. 234–242, 2007.</span> <a href="http://journal.sjdm.org/7801/jdm7801.htm">[journal.sjdm.org/7801/jdm7801.htm]</a>

<!--
Berns GS, Capra CM, **Moore S**, Noussair C. A shocking experiment: new evidence on probability weighting and common ratio violations. *Judgement and Decision Making*. 2007;2:234--242. [journal.sjdm.org/7801/jdm7801.htm](http://journal.sjdm.org/7801/jdm7801.htm)
-->
</li></ol>
