<ol class="bibliography"><li><span id="jsm2016"><em>S. E. Moore</em>, A. E. Hubbard, and M. J. Cohen, "Localized semi-parametric prediction: A precision medicine approach in a trauma patient population." Contributed paper presented at the Joint Statistical Meetings; August, 2016; Chicago, Illinois.</span> <a href="http://www.amstat.org/meetings/JSM/2016/onlineprogram/AbstractDetails.cfm?abstractid=321494">[Abstract]</a>
</li>

<li><span id="jsm2015"><em>S. E. Moore</em>, A. E. Hubbard, M. J. Cohen, on behalf of the PROPPR Study Group, "Patient-specific semi-parametric prediction with applications to the PROPPR study." Oral 'speed' session and e-poster presented at the Joint Statistical Meetings; August, 2015; Seattle, Washington.</span> <a href="http://www.amstat.org/meetings/JSM/2015/onlineprogram/AbstractDetails.cfm?abstractid=317658">[Abstract]</a>

<!--
**Moore SE**, Hubbard AE, Cohen MJ, on behalf of the PROPPR Study Group. Patient-specific semi-parametric prediction with applications to the PROPPR study. Oral 'speed' session and e-poster presented at the Joint Statistical Meetings; August, 2015; Seattle, Washington.
-->
</li>

<li><span id="diffmod">J. Spaniol, D. J. Madden, A. Voss, and <em>S. E. Moore</em>, "Adult age differences in episodic and semantic retrieval: A diffusion model analysis." Poster presented at the 46th Annual Meeting of the Psychonomic Society; November, 2005; Toronto, Ontario, Canada.</span> <a href="http://www.psychonomic.org/Assets/a5e598d1-5aef-4522-be84-411879deb2c9/635239931592630000/abstracts05-pdf">[Abstract]</a>

<!--
Spaniol J, Madden DJ, Voss A, **Moore SE**. Adult age differences in episodic and semantic retrieval: A diffusion model analysis. Poster presented at the 46th Annual Meeting of the Psychonomic Society; November, 2005; Toronto, Ontario, Canada. [Abstract](http://www.psychonomic.org/Assets/a5e598d1-5aef-4522-be84-411879deb2c9/635239931592630000/abstracts05-pdf)
-->
</li></ol>