<section class="vitae-section">
	<h1>Education</h1>
	<article>
		<header>
			<h1>PharmD in <a href="http://pharmacy.isu.edu/live/">Pharmacy</a></h1>
			<p><a href="http://www.isu.edu/">Idaho State University, Pocatello</a>, <a href="http://pharmacy.isu.edu/live/">College of Pharmacy</a></p>
			<span><time>Dec 2013 to Present </time><address>Pocatello, ID</address></span>
		</header>
	</article>
	<article>
		<header>
			<h1>PhD in <a href="http://bulletin.cgu.edu/preview_program.php?catoid=6&poid=415&returnto=351">Computational Systems Biology</a></h1>
			<p><a href="http://www.cgu.edu/">Claremont Graduate University, Claremont</a>, <a href="http://www.cgu.edu/pages/216.asp">Institute of Mathematical Sciences</a></p>
			<span><time>Aug 2006 to Dec 2011 </time><address>Claremont, CA</address></span>
		</header>
		<p>
			<em>Thesis: Functional Inference from molecular networks</em>
		</p>
	</article>
	<article>
		<header>
			<h1>MS in <a href="http://www.cgu.edu/pages/216.asp">Mathematics</a></h1>
			<p><a href="http://www.cgu.edu/">Claremont Graduate University, Claremont</a>, <a href="http://www.cgu.edu/pages/216.asp">Institute of Mathematical Sciences</a></p>
			<span><time>Aug 2004 to May 2006</time><address>Claremont, CA</address></span>
		</header>
	</article>
	<article>
		<header>
			<h1>MBS in <a href="http://www.kgi.edu/academic-programs/master-of-bioscience-(mbs)/program-overview">BioScience</a></h1>
			<p><a href="http://www.kgi.edu/">Keck Graduate Institute of Applied Life Sciences, Claremont</a>, <a href="http://www.kgi.edu/academic-programs/master-of-bioscience-(mbs)/career-majors/business-of-bioscience">Business of Bioscience</a></p>
			<span><time>Aug 2002 to May 2004</time><address>Claremont, CA</address></span>
		</header>
	</article>
	<article>
		<header>
			<h1>BS (Hons.) in <a href="http://www.bits-pilani.ac.in/pilani/pharmacy/Pharmacy">Pharmacy (with a minor in Engineering)</a></h1>
			<p><a href="http://www.bits-pilani.ac.in/">BITS Pilani</a>, <a href="http://www.bits-pilani.ac.in/pilani/pharmacy/Pharmacy">Department of Pharmacy</a></p>
			<span><time>Jan 1997 to Dec 2001</time><address>Pilani, India</address></span>
		</header>
	</article>
</section>
<hr />
