<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand navbar-left" href="{{ site.baseurl }}/">
        <i class="fa fa-home"></i>HOME</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/blog">BLOG</a></li>
        <li><a href="{{ site.baseurl }}/cv">CV</a></li>
        <li><a href="{{ site.baseurl }}/projects">PROJECTS</a></li>
        <li><a href="{{ site.baseurl }}/about">ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>