<section class="vitae-section">
  <h1>Leadership</h1>
    <article>
        <header>
            <h1>Co-President of the <a href="http://bsgsa.berkeley.edu/">Biostatistics Graduate Student Association</a></h1>
            <p><a href="http://www.berkeley.edu/">University of California, Berkeley</a></p>
            <span><time>Aug 2014 to Aug 2016</time><address>Berkeley, CA</address></span>
        </header>
<!--        <p>My responsibilities include...</p> -->
    </article>
    <article>
        <header>
            <h1>Supervisor, Research Specialist; Senior Research Specialist</h1>
            <p><a href="http://www.emory.edu/">Emory University</a></p>
            <span><time>Jul 2007 to Aug 2009; Aug 2009 to Aug 2011</time><address>Atlanta, GA</address></span>
        </header>
        <p>My responsibilities included training and supervising junior research staff, graduate students, and undergraduates.</p>
    </article>
</section>
<hr />