<section class="vitae-section">
  <h1>Industry &amp; Professional</h1>

      <article>
        <header>
            <h1>Principal Scientist</h1>
            <p><a href="http://www.roche.com">Roche</a>, Roche Sequencing Solutions</p>
            <span><time>Oct 2016 to Present</time><address>Pleasanton, CA</address></span>
        </header>
        <p>I am involved in the development of data analysis infracture for RNA-Seq and 4th generation sequencing data</p>
    </article>
    <article>
        <header>
            <h1>Consultant</h1>
            <p><a href="http://www.gene.com">Genentech Inc.</a>, Bioinformatics &amp; Computational Biology</p>
            <span><time>Oct 2015 to Oct 2016</time><address>South San Francisco, CA</address></span>
        </header>
        <p>Developed a computational method to identify novel isoform from RNA-Seq data. Developed a Shiny App to read and analyze data from Foundation Medicine datasets. Developed shell scripts for the automatic download of GTEx data and also developed R packages to access the downloaded GTEx datasets</p>
    </article>
    <article>
        <header>
            <h1>Clinical Pharmacist</h1>
            <p><a href="http://www.walgreens.com">Walgreens &amp; Boots Alliance</a></p>
            <span><time>Jun 2010 to Sep 2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Research Associate</h1>
            <p><a href="http://www.sri.com">Stanford Research Institute</a></p>
            <span><time>Jun 2003 to Sep 2003</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <p><a href="http://www.infosys.com">Infosys Technologies Ltd</a></p>
            <span><time>Jan 2001 to Jul 2002</time></span>
        </header>
    </article>
</section>
<hr />
