<section class="vitae-section">
  <h1>Publications</h1>

    <article>
        <header>
            <h1>Trauma Patient Outcomes</h1>
        </header>
        <p>{% include bib_trauma.html %}</p>
    </article>

    <article>
        <header>
            <h1>Adolescent Mental Health Outcomes</h1>
        </header>
        <p>{% include bib_teenmntlhlth.html %}</p>
    </article>

    <article>
        <header>
            <h1>Neurobiology of Reward in Adolescents</h1>
        </header>
        <p>{% include bib_teenreward.html %}</p>
    </article>

    <article>
        <header>
            <h1>Neurobiology of Sacred Values</h1>
        </header>
        <p>{% include bib_sacredvalues.html %}</p>
    </article>

    <article>
        <header>
            <h1>Neurobiology of Uncertainty over Losses</h1>
        </header>
        <p>{% include bib_shockpapers.html %}</p>
    </article>

<!--

### In Press

-->

    <article>
        <header>
            <h1>In Preparation</h1>
        </header>
	    <p><ul>
		    <li>Functional Hypercoagulability, Chemoprophylaxis, and Thromboembolism after Trauma: A longitudinal exploration.</li>
		    <li>Localized Semi-Parametric Prediction: A precision medicine approach in a trauma patient population.</li>
		    <li>recordr: A Framework for Discoverability and Provenance Tracking for Computational Artifacts in R.</li>
	    </ul></p>
    </article>

</section>

<section class="vitae-section">
  <h1>Conference Papers, Posters, &amp; Presentations</h1>

      <article>
        <p>{% include bib_confpres.html %}</p>
    </article>

</section>
<hr />