<section class="vitae-section">
  <h1>Publications</h1>

    <article>
        <header>
            <h1>Directed Evolution</h1>
        </header>
        <p>{% include bib_directedevolution.html %}</p>
    </article>

    <article>
        <header>
            <h1>Non-Linear Dynamics</h1>
        </header>
        <p>{% include bib_BifDiscTool.html %}</p>
    </article>

    <article>
        <header>
            <h1>Machine Learning/Network Theory</h1>
        </header>
        <p>{% include bib_MiningProteinNetworks.html %}</p>
    </article>

</section>

<section class="vitae-section">
  <h1>Conference Papers, Posters, &amp; Presentations</h1>

      <article>
        <p>{% include bib_confpres.html %}</p>
    </article>

</section>
<hr />
