<section class="vitae-section">
  <h1>Research</h1>
    <article>
        <header>
            <h1>Graduate Student Researcher</h1>
            <p><a href="http://www.berkeley.edu/">University of California, Berkeley</a>, <a href="http://sph.berkeley.edu/">School of Public Health</a>, <a href="http://www.stat.berkeley.edu/biostat/">Group in Biostatistics</a></p>
            <span><time>Aug 2013 to May 2015; Aug 2015 to Present</time><address>Berkeley, CA</address></span>
        </header>
        <p>In collaboration with <a href="http://cohenlab.surgery.ucsf.edu/">trauma surgeons</a> at <a href="https://sfgh.ucsf.edu/">San Francisco General Hospital</a> and the <a href="http://www.ucsf.edu/">University of California, San Francisco</a>, as well as my <a href="http://hubbard.berkeley.edu/">advisor</a>, I work on varied projects related to exploration and prediction of trauma patient outcomes.</p>
    </article>
    <article>
        <header>
            <h1>Staff Research Associate</h1>
            <p><a href="http://www.ucsf.edu/">University of California, San Francisco</a>, School of Medicine,<br /><a href="https://psych.ucsf.edu/">Department of Psychiatry</a></p>
            <span><time>Dec 2012 to Jan 2014</time><address>San Francisco, CA</address></span>
        </header>
        <p>I performed statistical analyses with <a href="http://profiles.ucsf.edu/kaja.lewinn">Kaja LeWinn, ScD</a>, on some of her projects involving the role of social interaction in mental health outcomes in adolescents.</p>
    </article>
    <article>
        <header>
            <h1>Graduate Student Researcher</h1>
            <p><a href="http://www.berkeley.edu/">University of California, Berkeley</a>, <a href="http://sph.berkeley.edu/">School of Public Health</a> / <a href="https://nature.berkeley.edu/">College of Natural Resources</a>, <a href="http://cwh.berkeley.edu/">Center for Weight and Health</a></p>
            <span><time>Jun 2012 to May 2013</time><address>Berkeley, CA</address></span>
        </header>
        <p><ul>
	        <li>Developed statistical analysis plans</li>
			<li>Organized, "cleaned," and analyzed data in various statistical software packages</li>
			<li>Communicated issues and results</li>
		</ul></p>
    </article>
    <article>
        <header>
            <h1>Research Specialist</h1>
            <p><a href="http://www.emory.edu/">Emory University</a>, <a href="http://www.economics.emory.edu/">Department of Economics</a> / <a href="http://psychiatry.emory.edu/">Department of Psychiatry</a>, <a href="http://www.ccnl.emory.edu/">Computation and Cognitive Neuroscience Lab</a> / <a href="http://www.neuropolicy.emory.edu/">Center for Neuropolicy</a></p>
            <span><time>Aug 2005 to Aug 2011</time><address>Atlanta, GA</address></span>
        </header>
        <p><ul>
	        <li>Analyzed and interpreted behavioral and MR imaging data (functional, diffusion, and anatomical)</li>
	        <li>Trained and supervised graduate and undergraduate students and other researchers in the lab</li>
	        <li>Collaborated on experiment planning and results preparation for presentation and publication</li>
	        <li>Programmed experiments and oversaw data collection from participants</li>
	        <li>Performed hardware and software setup, upkeep, and support on servers and workstations</li>
	        <li>Established lab "wiki" for training and information management</li>
		</ul></p>
    </article>
    <article>
        <header>
            <h1>Associate in Research</h1>
            <p><a href="http://www.duke.edu">Duke University</a> <a href="http://www.dukehealth.org/">Medical Center</a>, <a href="http://www.geri.duke.edu/">Center for the Study of Aging and Human Development</a>, <a href="http://www.geri.duke.edu/cogpsych/">Cognitive Psychology Lab</a></p>
            <span><time>Feb 2003 to Jul 2005</time><address>Durham, NC</address></span>
        </header>
        <p><ul>
	        <li>Analyzed fMRI data and streamlined lab's processing pipeline</li>
			<li>Programmed experiments for fMRI and behavioral testing; aided in experimental design</li>
			<li>Supported and updated existing network, hardware, and software; advised on new purchases</li>
		</ul></p>
    </article>
    <!--
    <article>
        <header>
            <h1>Student Employee</h1>
            <p><a href="http://www.duke.edu">Duke University</a> <a href="http://tip.duke.edu/">Talent Identification Program</a></p>
            <span><time>Jan to May 2000; May 2001 to May 2002</time><address>Durham, NC</address></span>
        </header>
        <p><ul>
	        <li>Entered data and performed basic statistical analyses</li>
			<li>Performed literature searches for Director and Director of Research</li>
		</ul></p>
    </article>
    -->
</section>
<hr />