<section class="vitae-section">
  <h1>Technical Skills</h1>

  <article>
    <header>
      <h1>Programming, Scripting, &amp; Markup Languges</h1>
    </header>
    <ul>
      <li><strong>Current</strong>: Python, R, \(\LaTeX\), Shell (bash), Markdown, HTML / CSS, JavaScript, JSON</li>
      <li><strong>Past</strong>: Java, C++, C, Matlab, XML</li>
      <li><strong>Familiar</strong>: Perl, SAS</li>
    </ul>
  </article>
  <article>
    <header>
      <h1>Operating Systems &amp; Frameworks</h1>
    </header>
    <ul>
      <li><strong>Desktop</strong>: Mac OS, Windows, Linux (CentOS), Unix</li>
      <li><strong>Frameworks</strong>: Sun Grid Engine, LSF, Hadoop, Amazon EC2</li>
    </ul>
  </article>
  <article>
    <header>
      <h1>Other Languages &amp; Software</h1>
    </header>
    <ul>
      <li>Microsoft Word, Excel, PowerPoint, Access</li>
      <li>Adobe Photoshop, Illustrator, Acrobat, Dreamweaver</li>
      <li>Zotero, EndNote</li>
    </ul>
  </article>

<!--
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>C/C++ & Objective-C</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Python</em>, <em>PHP</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
        </p>
    </article>
-->

</section>
<hr />
