<section class="vitae-section">
  <h1>Teaching</h1>
      <article>
        <header>
            <h1>Graduate Student Instructor</h1>
            <p><a href="http://www.kgi.edu/">Keck Graduate Institute, Claremont</a></p>
            <span><time>Jan 2006 to May 2008</time><address>Claremont, CA</address></span>
        </header>
        <p><ul>
        	<li>Developed and refined discussion section teaching material</li>
        	<li>Held office hours</li>
        	<li>Graded assignments and exams</li>
        	<li>Led lecture, as needed.</li>
        </ul></p>
        <p>
	        Courses, in reverse chronological order:
	        <ul>
		        <li>MATH 252, <em>"Intro to Multivariate Statistics"</em></li>
		        <li>ALS 434, <em>"Intro to Biostatistics"</em></li>
		        <li>ALS 310, <em>"Computational Biology"</em></li>
	        </ul>
        </p>
        <!--
		Mar to May 2014 &amp; 2015
		August 2012 -- December 2012
		July 2012 -- August 2012
		January 2012 -- May 2012
		August 2011 -- December 2011
		-->
    </article>
    <!--
    <article>
        <header>
            <h1>Student Employee</h1>
            <p><a href="http://www.duke.edu/">Duke University</a>, Academic Technology Services</p>
            <span><time>May 2002 to Dec 2002</time><address>Durham, NC</address></span>
        </header>
        <p><ul>
        	<li>Taught software workshops to faculty, staff, graduate and undergraduate students</li>
			<li>Developed new course material for web and workshops</li>
		</ul></p>
    </article>
    -->
</section>
<hr />
